
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "sora", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAF9;
}
.main-box{
    margin-top: 164px;
    max-width: 368px;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);


}
.main-box .img-box img{
    display: flex;
    align-items: center;
    height: 152px;
    width: 336px;
    margin: 16px;
}
.btn{
    border-radius: 10px;
    font-size: 10px;
    background-color: #e6d6fc;
    width: 68px;
    /* margin: 16px; */
    color: #883AE1;
    text-align: center;
    padding: 6px 16px;
    margin: 16px;
    font-weight: 600;
}
.title{
    color: #20293A;
    font-size: 18px;
    font-weight: 700;
    margin-left: 16px;
    margin-bottom: 6px;
}
.content{
    color: #6C727F;
    font-size: 14px;
    margin-left: 16px;
    margin-bottom: 20px;

    font-weight: 300;
}
.tag{
    font-size: 12px;
    color: #6C727F;
    margin: 23px 16px 20px 16px;
}